@import 'var';

@mixin flexwithbetween {
    display: flex;
    justify-content: space-between;
}

@mixin flexwitharound {
    display: flex;
    justify-content: space-around;
}

@mixin flexwithevenly {
    display: flex;
    justify-content: space-evenly;
}

@mixin darkbtn {
    background-color: $primaryColor;
    color: $secondaryColor;
    border-color: $primaryColor;
    padding: 0.5rem 1rem;
}

@mixin lightbtn {
    background-color: $secondaryColor;
    color: $primaryColor;
    border-color: $secondaryColor;
    padding: 0.5rem 1rem;
}