@import 'var';

@mixin flexwithbetween {
    display: flex;
    justify-content: space-between;
}

@mixin flexwitharound {
    display: flex;
    justify-content: space-around;
}

@mixin flexwithevenly {
    display: flex;
    justify-content: space-evenly;
}

@mixin darkbtn {
    background-color: $primaryColor;
    border-style: solid;
    color: $secondaryColor;
    border-color: $primaryColor;
    padding: 0.5rem 1rem;
}

@mixin lightbtn {
    background-color: $secondaryColor;
    color: $primaryColor;
    border-color: $secondaryColor;
    border-style: solid;
    padding: 0.5rem 1rem;
}

@mixin semiLightbtn {
    background-color: $subThemeColor;
    border-style: solid;
    color: $primaryColor;
    padding: 0.5rem 1rem;
}

@mixin secondbtn {
    background-color: $secondaryColor;
    border-style: solid;
    color: $subSecondoryColor;
    border-color: $subSecondoryColor;
    padding: 0.5rem 1rem;
    text-decoration: none;
}