@import 'mixin';
@import 'var';

.about-container {
    .container {
        max-width: 80%;
    }
}

.about-logo-size {
    width: 200px;

    img {
        width: 100%;
    }
}

.timline-slider {
    display: grid;
    border-bottom: 1px solid $primaryColor;

    img {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
    }

    section {
        width: 100%;
        height: 10px;
        border-left: 1px solid $primaryColor;
    }
}

.store-slider {
    display: grid;

    img {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
    }
}

.custom-feature {
    display: grid;
    align-content: start;

    a {
        max-width: 100%;

        img {
            width: 50%;
            border-radius: 50%;
        }
    }
}

.custom-border {
    border-right: 1px solid lightgray;
}

@media(min-width: 578px) and (max-width: 768px) {
    .custom-feature {
        a {
            img {
                width: 25%;
            }
        }
    }
}

@media(max-width: 768px) {
    .about-container {
        .container {
            max-width: 90%;
        }
    }

    .custom-border {
        border-right: 0px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
}


@media(max-width: 400px) {
    .about-container {
        .container {
            max-width: 97.5%;
        }
    }
}