@import 'mixin';
@import 'var';

.sameCssForBtn{
    position: relative;
    button{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        text-decoration: underline;
        border: 1px solid $secondaryColor;
        opacity: 0.9;
    }
}

@media(min-width: 768px){
    .videoHeightShort{
        height: 500px;
        display: grid;
        align-content: center;
        overflow: hidden;
        video{
            object-fit: cover;
        }
    }
}

@media(max-width: 1200px){
    .portraitVideo{
        margin-top: 90px;
    }
} 
@media(max-width: 992px){
    .portraitVideo{
        margin-top: 131px;
    }
} 