@import 'mixin';
@import 'var';

.main_footer {
    background-color: #F7F7F7;
    font-family: $defaultFontFamily;
}

.accordion {
    --bs-accordion-border-radius: 0px !important;
}

.accordion-button:focus {
    box-shadow: 0 0 0 transparent;
}

.accordion-button {
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
}
.accordianCnt{
    font-size: 12px;
    a{
        text-decoration: none;
    color: $primaryColor;
}
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
}

.accordion-item {
    background-color: transparent;
    border: 0px solid transparent;
    border-bottom: 1px solid lightgray;
}

.headerIcon{
    font-size: 30px;
}

.headerContent{
    font-size: 20px;
}

@media (max-width: 768px){
    .accordion-button {
        font-size: 12px;
    }
    .accordianCnt{
        font-size: 10px;
    }
    .headerIcon{
        font-size: 25px;
    }
    
    .headerContent{
        font-size:15px;
    }
}