@import 'mixin';
@import 'var';


.main_header {
    box-shadow: 0px 0px 10px lightgray;
}

.logoimg {
    display: block;
    height: 4rem;

    img {
        height: 100%;
    }
}

.hdrcontent {
    gap: 1rem;
    a{
        i{
            font-size: 1.3rem;
            color: $darkcolor;
        }
    }
}

.searchmenu {
    input {
        border-radius: 10px 0px 0px 10px;
        border-color: black;
        outline: none;
    }

    label {
        @include darkbtn;
        border-radius: 0px 10px 10px 0px;
    }
}

.largesearch {
    border: 1px solid rgb(240, 240, 240) !important;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;

    input {
        border-width: 0px !important;
        outline: none;
        background-color: rgb(240, 240, 240);
    }
}