@import 'var';
@import 'mixin';

.main_home {
    color: $primaryColor;
    overflow: hidden;

    .carousel {
        width: 100%;

        .carousel-inner {
            width: 100%;

            .carousel-item {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.ctgBanner {
    width: 100%;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color: $secondaryColor;
    overflow: hidden;

    .boxShade {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(transparent, black);
    }

    img {
        width: 100%;
        box-shadow: inset 0px 0px 50px black;
    }

    .inCtgBanner {
        width: 100%;
        position: absolute;
        bottom: 10%;

        a {
            text-transform: uppercase;
            text-decoration: none;
            @include lightbtn;
            transition: 0.5s;
            border-left: 1px solid $primaryColor;
            border-right: 1px solid $primaryColor;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.keyValue {
    color: $primaryColor;
    text-decoration: none;

    svg {
        font-size: 50px;
        width: 100%;
    }

    div {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .keyValue {
        color: $primaryColor;
        text-decoration: none;

        svg {
            font-size: 40px;
            width: 100%;
        }

        div {
            font-size: 16px;
        }
    }
}

.bgImage {
    height: 303px;
    color: $secondaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;

    img {
        height: 100%;
        object-fit: cover;
        text-align: center;
    }

    div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .bgImageContent {
            align-items: center;

            section {
                padding: 0.5rem;
                display: flex;
                align-items: center;
                height: 100%;
                background-color: $secondaryColor;

                select,
                input {
                    border-width: 0px;
                }
            }

            a {
                text-decoration: none;
                padding: 0.5rem 1rem;
                background-color: $secondaryColor;
                color: $subSecondoryColor;
                transition: .3s;

                &:hover {
                    @include darkbtn;
                    color: $secondaryColor;
                    background-color: $subSecondoryColor;
                }
            }
        }
    }
}

.slick-prev {
    left: 8px !important;
    background-color: $secondaryColor !important;
    z-index: 999;
    height: 2.5rem !important;
    width: 3rem !important;
    color: $primaryColor;
}
.slick-next {
    right: 7px !important;
    background-color: $secondaryColor !important;
    z-index: 999;
    height: 3rem !important;
    width: 3rem !important;
    color: $primaryColor;
}
.slick-prev:before{
    content: "‹" !important;
    color: $primaryColor !important;
    font-size: 2rem !important;
    margin-bottom: 0.5rem !important;
}
.slick-next:before{
    content: "›" !important;
    color: $primaryColor !important;
    font-size: 2rem !important;
    margin-bottom: 0.5rem !important;
}
@media (max-width: 576px) {
    .keyValue {
        color: $primaryColor;
        text-decoration: none;

        svg {
            font-size: 30px;
            width: 100%;
        }

        div {
            font-size: 14px;
        }
    }

    .inCtgBanner {
        h2 {
            font-size: 20px;
        }

        a {
            font-size: 12px;
            padding: 0.25rem 0.5rem !important;
        }
    }

    .bgImage {
        div {
            h2 {
                font-size: 16px;
            }

            span {
                font-size: 12px;
            }
        }

        .bgImageContent {
            a {
                font-size: 12px;
                padding: 0.25rem 0.5rem !important;

                &:hover {
                    @include darkbtn;
                }
            }
        }
    }
}