@import 'var';
@import 'mixin';

.main_offerBanner{
    .container{
        max-width: 93% !important;
    }
}

.offerBanner {
    background-image: url('../Img/wishlist-bg-plp-12-june-23.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

.offerBorder {
    height: 100%;
    width: 1px;
    transform: skew(-25deg);
    border-left: 1px solid black;
}


@media(max-width: 768px) {
    .offerBanner {
        .imgStyle {
            height: 75px;

            img {
                height: 100%;
            }
        }
    }

    .offerBorder {
        width: 100%;
        transform: skew(0deg);
        border-top: 1px solid black;
    }

    .fontStyle {
        font-size: 14px;
    }
}