@import 'mixin';
@import 'var';

.change-container-size {
    .container {
        max-width: 96%;
    }
}

.custom-user-header {
    border: 1px solid lightgray;
    background-color: $secondaryColor;
    overflow: hidden;
}

.header-link-list {
    a {
        padding: 0.5rem 0.7rem;
        text-decoration: none;
        color: rgb(97, 97, 97);
        transition: .3s;

        svg {
            font-size: 20px;
        }

        &:hover {
            padding-right: 0.25rem;
            border-left: 1px solid $primaryColor;
            background-color: $subThemeColor;
            color: $primaryColor;
        }
    }
}

.active-nav {
    padding-right: 0.25rem !important;
    border-left: 1px solid $primaryColor;
    background-color: $subThemeColor;
    color: $primaryColor !important;
}

.default-white-box {
    border-radius: 0.5rem;
    background-color: white;
    border: 1px solid lightgray;
    overflow: hidden;
}

.icon-center-circle {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: relative;

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 40px;
        transform: translate(-50%, -50%);
        color: $subSecondoryColor;
    }
}

.change-color-link {
    a {
        color: $subSecondoryColor;
        transition: .3s;
        text-decoration: none;

        &:hover {
            color: $primaryColor;
        }
    }
}