@import 'var';
@import 'mixin';

.wishDetail {
    .container {
        max-width: 93% !important;
    }
}

.boxBorder{
    border: 1px solid rgb(237, 237, 237);
}

.wishProductImage {
    align-items: center;
    justify-content: center;
    min-height: 400px;
    width: 100%;
    background-color: $secondaryColor;
    position: relative;
    overflow: hidden;

    div {
        text-align: center;
        background-color: $secondaryColor;
        opacity: 0.9;
        color: $primaryColor;
        bottom: 0%;
        transform: translateY(0%);
        width: 80%;
        position: absolute;
        font-size: 12px;
        transition: .3s;
    }

    a {
        color: $secondaryColor;
        top: 2%;
        right: 4%;
        position: absolute;
        font-size: 20px;
        i{
            text-shadow: 0px 0px 10px $primaryColor;
        }
    }

    section {
        background-color: $secondaryColor;
        color: maroon;
        top: 0%;
        left: 0%;
        position: absolute;
        font-size: 10px;
    }


    &:hover .wishThumbImg {
        display: none;
    }

    &:hover .wishHoverImg {
        display: block;
    }

    .wishThumbImg {
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .wishHoverImg {
        width: 100%;
        object-fit: cover;
        display: none;
    }
}

@media (min-width: 1200px) {
    .wishProductImage {
        min-height: 300px;
    }
}

@media (max-width: 1200px) {
    .wishProductImage {
        min-height: 328px;
    }
}

@media (max-width: 992px) {
    .wishProductImage {
        min-height: 305px;
    }
}

@media (max-width: 768px) {
    .wishProductImage {
        min-height: 345px;
    }
}

@media (max-width: 576px) {
    .wishProductImage {
        min-height: 240px;

        a {
            font-size: 12px;
        }

        section {
            font-size: 6px;
        }
    }

    .productContent {
        a {
            font-size: 12px;
        }
    }

    .onlineExc {
        font-size: 8px !important;
    }

    .readyToShip {
        font-size: 8px !important;

        i {
            font-size: 8px !important;
        }
    }

    .bestSeller {
        font-size: 8px !important;
    }
}

@media (max-width: 400px) {
    .wishProductImage {
        min-height: 175px;
    }
}